@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: BigNoodleTitling;
  src: url(fonts/big_noodle_titling.ttf); }
@font-face {
  font-family: "Roboto Bold";
  src: url(fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: "Roboto Light";
  src: url(fonts/Roboto-Light.ttf); }
body {
  background: #fff; }

section.text-section {
  padding: 94px 0 118px; }
  section.text-section .section-header {
    margin-bottom: 27px; }
    section.text-section .section-header h2 {
      font-family: BigNoodleTitling;
      font-size: 48pt;
      color: #3d3d3d;
      text-align: center;
      margin: 0; }
    section.text-section .section-header img {
      display: block;
      margin: 0 auto; }
  section.text-section .section-text {
    font-family: Roboto;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    color: #696969;
    margin: 0 230px 58px; }

header.container-fluid {
  background: #f8f6f6;
  border-bottom: 4px solid #ebebeb;
  padding: 50px 0 49px; }
  header.container-fluid .dropdown {
    margin-top: 14px; }

section.about-us .advantage {
  background: #ebebeb;
  padding: 30px 30px 25px; }
  section.about-us .advantage .header, section.about-us .advantage .description {
    font-size: 14pt;
    color: #707070;
    text-align: center; }
  section.about-us .advantage .header {
    margin: 24px 0 16px 0;
    font-family: "Roboto Bold";
    text-transform: uppercase;
    font-size: 18pt; }
  section.about-us .advantage .description {
    font-family: Roboto;
    margin: 0;
    font-weight: bold; }
  section.about-us .advantage .icon {
    height: 57px;
    text-align: center; }

section.video {
  background: #171f23; }
  section.video .text-container {
    padding: 60px 95px 0px; }
    section.video .text-container h2.header {
      color: #fff;
      font-family: "Roboto Bold";
      text-align: center;
      font-size: 24pt;
      font-weight: bold; }
    section.video .text-container p.description {
      color: #696969;
      text-align: center;
      font-family: Roboto;
      font-weight: bold;
      font-size: 13pt;
      margin: 27px 0 46px; }
    section.video .text-container .play-btn {
      text-align: center; }
      section.video .text-container .play-btn button {
        background: #e84c3d;
        padding: 12px 33px 10px;
        border: none;
        border-bottom: 2px solid #b11000;
        color: #fff;
        font-family: "Roboto Bold";
        font-size: 13pt;
        text-decoration: none;
        transition: 0.25s ease all;
        outline: none; }
        section.video .text-container .play-btn button:hover {
          background: #b11000; }
  section.video .video-container .row {
    position: relative; }
    section.video .video-container .row .play-btn {
      position: absolute;
      top: calc(50% - 53px);
      left: calc(50% - 46px);
      z-index: 3; }
      section.video .video-container .row .play-btn:hover {
        cursor: pointer; }
    section.video .video-container .row .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.25s ease all; }
      section.video .video-container .row .overlay:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.2); }
    section.video .video-container .row video {
      width: 100%;
      position: relative;
      z-index: 1;
      cursor: pointer; }

section.our-works {
  padding: 94px 0 26px; }
  section.our-works .button-list {
    text-align: center;
    margin: 0;
    padding: 0; }
    section.our-works .button-list li {
      display: inline-block;
      list-style: none;
      padding: 7px 10px; }
      section.our-works .button-list li button {
        font-family: "Roboto Light";
        background: none;
        outline: none;
        border: none;
        font-size: 14pt;
        color: #3d3d3d;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.25s ease all;
        padding: 7px 0; }
      section.our-works .button-list li button.active {
        border-bottom: 1px solid #e64e40;
        font-weight: bold; }

section.portfolio .selection {
  display: none; }
  section.portfolio .selection .portfolio-item {
    position: relative;
    border-top: 1px solid #e96559;
    border-left: 1px solid #e96559;
    cursor: pointer;
    display: block; }
    section.portfolio .selection .portfolio-item:hover .overlay {
      display: block;
      text-decoration: none; }
    section.portfolio .selection .portfolio-item img {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1; }
    section.portfolio .selection .portfolio-item .overlay {
      padding: 50px;
      background: #e84c3d;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: none;
      transition: 0.35s ease all; }
      section.portfolio .selection .portfolio-item .overlay h3.header {
        font-family: "Roboto Bold";
        font-size: 18pt;
        text-transform: uppercase; }
      section.portfolio .selection .portfolio-item .overlay p.description {
        font-family: Roboto;
        font-size: 12pt; }
      section.portfolio .selection .portfolio-item .overlay h3.header,
      section.portfolio .selection .portfolio-item .overlay p.description {
        color: #fff;
        text-align: center; }

section.team .members .card, section.team .members .member-details {
  background: #ebebeb; }
section.team .members .member {
  display: none; }
  section.team .members .member .portrait {
    text-align: center;
    padding: 70px 0 30px; }
    section.team .members .member .portrait img {
      width: 136px;
      height: auto;
      border-radius: 50%; }
  section.team .members .member h3 {
    font-family: "Roboto Bold";
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 0; }
  section.team .members .member p {
    font-family: "Roboto Light";
    font-size: 14pt;
    text-align: center;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 0 0 23px; }
  section.team .members .member .social-buttons {
    text-align: center;
    vertical-align: middle;
    padding: 0 0 40px; }
    section.team .members .member .social-buttons a {
      padding: 0 5px; }
section.team .members .controls {
  text-align: center; }
  section.team .members .controls .control {
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 7px;
    display: inline-block;
    transition: 0.35s ease all; }
  section.team .members .controls .control:first-child {
    margin: 0; }
  section.team .members .controls .control:hover {
    cursor: pointer;
    background: #3d3d3d; }
  section.team .members .controls .active {
    background: #8e8181; }
section.team .members .member-details {
  display: none;
  padding: 90px 55px 57px 45px; }
  section.team .members .member-details h3 {
    font-family: "Roboto Bold";
    font-size: 22pt;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 0 0 25px; }
  section.team .members .member-details p.description {
    font-family: Roboto;
    font-size: 13pt;
    color: #858383;
    margin: 0 0 45px; }
  section.team .members .member-details .skills .skill {
    padding: 0 0 20px; }
    section.team .members .member-details .skills .skill h4 {
      font-family: "Roboto Bold";
      text-transform: uppercase;
      font-size: 13pt;
      color: #3d3d3d;
      margin: 0; }
    section.team .members .member-details .skills .skill .line {
      width: 100%;
      height: 1px;
      background: #fff;
      margin: 10px 0; }
      section.team .members .member-details .skills .skill .line .skill-level {
        background: #e84c3d;
        height: 1px;
        width: 0; }
    section.team .members .member-details .skills .skill .skill-percentage {
      font-family: "Roboto Light";
      font-size: 13pt;
      color: #3d3d3d; }

/*# sourceMappingURL=style.css.map */
