$white: #f8f6f6;
$gray: #ebebeb;
$darkgrey: #707070;

$xs: 768px;
$sm: 992px;
$md: 1200px;

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Thin.ttf)
}

@font-face {
  font-family: BigNoodleTitling;
  src: url(fonts/big_noodle_titling.ttf)
}

@font-face {
  font-family: "Roboto Bold";
  src: url(fonts/Roboto-Bold.ttf)
}

@font-face {
  font-family: "Roboto Light";
  src: url(fonts/Roboto-Light.ttf)
}

@font-face {
  font-family: "Roboto Condenced";
  src: url(fonts/RobotoCondensed-Regular.ttf);
}

body {
  background: #fff;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-width: 320px;
}

section.text-section {
  padding: 64px 0 94px;

  .section-header {
    margin-bottom: 27px;

    h2 {
      font-family: BigNoodleTitling;
      font-size: 36pt;
      color: #3d3d3d;
      text-align: center;
      margin: 0 0 3px;
    }

    .underline {
      width: 152px;
      height: 2px;
      background: #f4511e;
      margin: 0 auto;
    }
  }

  .section-text{
    font-family: Roboto;
    font-size: 10.5pt;
    font-weight: bold;
    text-align: center;
    color: #696969;
    margin: 0 230px 58px;
  }
}

section.text-section-dark {
  background: #171f23;

  .headline {
    padding: 0 0 44px;

    h2.header {
      font-family: "Roboto Condenced";
      font-size: 27pt;
      color: #f6f6f6;
      text-align: center;
      margin: 0 0 13px 0;
      text-transform: uppercase;
    }

    div.underline {
      background: #404040;
      height: 1px;
      width: 86px;
      margin: 0 auto;
    }
  }
}

header.container-fluid {
  background: $white;
  border-bottom: 4px solid $gray;
  padding: 50px 0 49px;

  h1.main-header {
    font-family: BigNoodleTitling;
    font-size: 30pt;
    display: inline;
    color: #696969;
    vertical-align: middle;
    margin: 0 0 0 25px;
  }

  img.logo {
    vertical-align: middle;
  }

  .dropdown {
    margin-top: 14px;
  }
}

nav#right-navigation {
  position: absolute;
  top: 176px;
  right: -150px;
  z-index: 5;
  overflow: hidden;

  h2.header {
    margin: 0;
    background: #3d3d3d;
    color: #fff;
    font-family: "Roboto Condencedd";
    font-size: 14pt;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
  }

  ul {
    padding: 0;
    margin: 0;
    background: #696969;

    li {
      list-style: none;

      a {
        display: block;
        text-align: center;
        padding: 10px 20px;
        color: #fff;
        font-family: "Roboto Light";
        font-size: 12pt;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.25s ease all;

        &:hover {
          background: #e84c3d;
        }
      }
    }

    li.divider {
      height: 1px;
      width: calc(100% - 40px);
      margin: 0 auto;
      background: #797979;
    }
  }
}

section.main-slider {
  background: #353535;
  padding: 240px 0 32px;
  position: relative;

  .controls {
    position: absolute;
    top: calc(50% - 23px);
    left: 0;
    width: 100%;

    .control {
      position: absolute;
      top: 0;
      cursor: pointer;
    }

    .left {
      left: 65px;
    }

    .right {
      right: 65px;
    }


  }

  .top-slider {
    .slide {

      .top {
        font-size: 54pt;
        font-family: BigNoodleTitling;
      }
      .bottom {
        font-size: 27pt;
      }
      .top, .bottom {
        color: #d6d5d5;
        font-family: BigNoodleTitling;
        text-align: center;
      }
    }
  }

  .scroll-icon {
    img {
      display: block;
      margin: 127px auto 17px;
    }

    .scroll-text {
      font-family: "Roboto Bold";
      text-transform: uppercase;
      font-size: 9pt;
      color: #fff;
      text-align: center;
    }
  }
}

section.about-us {
  .advantage {
    background: $gray;
    padding: 30px 30px 25px;

    .header, .description {
      font-size: 14pt;
      color: $darkgrey;
      text-align: center;
    }

    .header {
      margin: 24px 0 16px 0;
      font-family: "Roboto Bold";
      text-transform: uppercase;
      font-size: 18pt;
    }

    .description {
      font-family: Roboto;
      margin: 0;
      font-weight: bold;
    }

    .icon {
      height: 57px;
      text-align: center;
    }
  }
}

section.video {
  background: #171f23;

  .text-container {
    padding: 60px 95px 0px;

    h2.header {
      color: #fff;
      font-family: "Roboto Bold";
      text-align: center;
      font-size: 24pt;
      font-weight: bold;
    }

    p.description {
      color: #696969;
      text-align: center;
      font-family: Roboto;
      font-weight: bold;
      font-size: 13pt;
      margin: 27px 0 46px;
    }

    .play-btn {
      text-align: center;

      button {
        background: #e84c3d;
        padding: 12px 33px 10px;
        border: none;
        border-bottom: 2px solid #b11000;
        color: #fff;
        font-family: "Roboto Bold";
        font-size: 13pt;
        text-decoration: none;
        transition: 0.25s ease all;
        outline: none;

        &:hover {
          background: #b11000;
        }
      }
    }
  }

  .video-container {

    .row {
      position: relative;

      .play-btn {
        position: absolute;
        top: calc(50% - 53px);
        left: calc(50% - 46px);
        z-index: 3;

        &:hover {
          cursor: pointer;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0,0,0,0.5);
        transition: 0.25s ease all;

        &:hover {
          cursor: pointer;
          background: rgba(0,0,0,0.2);
        }
      }

      video {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
        cursor: pointer;
      }
    }
  }
}

section.our-works {
  padding: 94px 0 26px;

  .button-list {
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      padding: 7px 10px;

      button {
        font-family: "Roboto Light";
        background: none;
        outline: none;
        border: none;
        font-size: 14pt;
        color: #3d3d3d;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.25s ease all;
        padding: 7px 0;
      }

      button.active {
        border-bottom: 1px solid #e64e40;
        font-weight: bold;
      }
    }
  }
}

section.portfolio {
  .selection {
    display: none;

    > .row {
      border-bottom: 1px solid #e96559;
    }

    .portfolio-item {
      position: relative;
      border-top: 1px solid #e96559;
      border-left: 1px solid #e96559;
      border-bottom: 1px solid #e96559;
      cursor: pointer;
      display: block;

      &:hover .overlay {
        display: block;
        text-decoration: none;
      }

      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
      }

      .overlay {
        padding: 50px;
        background: #e84c3d;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 1px);
        z-index: 2;
        display: none;
        transition: 0.35s ease all;

        h3.header {
          font-family: "Roboto Bold";
          font-size: 18pt;
          text-transform: uppercase;
        }
        p.description {
          font-family: Roboto;
          font-size: 12pt;
        }
        h3.header,
        p.description {
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}

section.clients-slider {
  background: #1c1c1c;
  padding: 65px 0;

  .slider {
    width: 910px;
    margin: 0 auto;
    position: relative;

    .arrow{
      position: absolute;
      top: calc(50% - 14px);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
    .arrow-left {
      left: 0;
    }
    .arrow-right {
      right: 0;
    }

    .content {
      width: 670px;
      margin: 0 auto;
      position: relative;

      .slide {
        float: left;
        width: calc(100% / 3);
        text-align: center;
        padding-top: 20px;
        position: absolute;
        top: -40px;
        left: 0;

        a:hover {
          text-decoration: none;
          opacity: 0.7;
        }

        span.name {
          margin-left: 9px;
          font-family: Arial;
          font-size: 12pt;
          color: #fff;
          padding-bottom: 10px;
          position: relative;
          top: -10px;
        }
      }

      .slide-1 {
        left: 0;
      }
      .slide-2 {
        left: calc(100% / 3);
      }

      .slide-3 {
        left: calc(100% / 3 * 2);
      }
    }
  }
}

section.team {
  .team-member {
    .card, .details {
      background: #ebebeb;
    }

    .card {

      .member-img {
        text-align: center;
        padding: 70px 0 30px;

        img {
          width: 136px;
          height: auto;
          border-radius: 50%;
        }
      }

      h3.member-name {
        font-family: "Roboto Bold";
        font-size: 20pt;
        text-align: center;
        text-transform: uppercase;
        color: #3d3d3d;
        margin: 0;
      }

      p.member-role {
        font-family: "Roboto Light";
        font-size: 14pt;
        text-align: center;
        text-transform: uppercase;
        color: #3d3d3d;
        margin: 0 0 23px;
      }

      .social-buttons {
        text-align: center;
        vertical-align: middle;
        padding: 0 0 40px;

        a {
          padding: 0 5px;
        }
      }

      .controls {
        text-align: center;

        .control {
          background: #fff;
          width: 12px;
          height: 12px;
          border-radius: 6px;
          margin-left: 7px;
          display: inline-block;
          transition: 0.35s ease all;
        }

        .control:first-child {
          margin: 0;
        }

        .control:hover {
          cursor: pointer;
          background: #3d3d3d;
        }

        .active {
          background: #8e8181;
        }
      }
    }

    .details {
      padding: 90px 55px 57px 45px;

      h3.header {
        font-family: "Roboto Bold";
        font-size: 22pt;
        text-transform: uppercase;
        color: #3d3d3d;
        margin: 0 0 25px;
      }

      p.about {
        font-family: Roboto;
        font-size: 13pt;
        color: #858383;
        margin: 0 0 45px;
      }

      .skill-level {
        .skill {
          padding: 0 0 20px;

          .skill-name {
            font-family: "Roboto Bold";
            text-transform: uppercase;
            font-size: 13pt;
            color: #3d3d3d;
            margin: 0;
          }

          .line {
            width: 100%;
            height: 1px;
            background: #fff;
            margin: 10px 0;

            .level {
              background: #e84c3d;
              height: 1px;
              width: 0;
            }
          }

          .percentage {
            font-family: "Roboto Light";
            font-size: 13pt;
            color: #3d3d3d;
          }
        }
      }
    }
  }
}

section.some-features {
  padding: 53px 0 68px;

  .feature {
    text-align: center;
    h3.name {
      font-family: "Roboto Light";
      font-size: 13.5pt;
      color: #f6f6f6;
      margin: 23px 0 16px;
    }
    span.count {
      font-family: "Roboto Light";
      font-size: 34.5pt;
      color: #f6f6f6;
    }
  }
}

section.blog-posts {
  .posts {
    .post {
      display: block;
      &:hover {
        text-decoration: none;

        .post-img {
          .overlay {
            opacity: 0.5;
          }

          .action-buttons {
            opacity: 1;
          }
        }

        .post-description {
          background: #f6e5e0;
        }
      }

      .post-img {
        text-align: center;
        overflow: hidden;
        height: 245px;
        position: relative;

        .overlay {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          transition: 0.25s ease all;
          background: #000;
          opacity: 0;
        }

        .img {
          width: 100%;
          height: auto;
          position: relative;
          z-index: 1;
        }

        .action-buttons {
          position: absolute;
          width: 100%;
          text-align: center;
          top: calc(50% - 22px);
          left: 0;
          opacity: 0;
          transition: 0.25s ease all;
          z-index: 3;

          img {
            border-radius: 50%;
          }

          .share {
            background: #e87e5d;
            padding: 10px;
            margin-right: 20px;
          }

          .view {
            background: #f6e5e0;
            padding: 14px 9px;
          }
        }
      }

      .post-description {
        background: #ebebeb;
        padding: 49px 25px 24px;

        h3.header {
          margin: 0 0 30px;
          font-family: "Roboto Light";
          font-size: 13.5pt;
          color: #505050;
          font-weight: bold;
        }

        p.text {
          margin: 0 0 25px;
          color: #797979;
          font-family: "Roboto Light";
          font-size: 10.5pt;
        }

        .details span {
          font-size: 9.5pt;
          font-family: "Roboto Condenced";
          color: #8a8989;
          margin: 0 3px 0 2px;
        }
      }
    }
  }
}

section.plan {
  padding: 59px 0 94px;

  .plan-items {
    overflow: hidden;
    text-align: center;
    width: 952px;
    margin: 0 auto;

    .item {
      float: left;
      width: 235px;
      border: 1px solid #171f23;
      margin: 0 1px 0 0;
      display: block;
      text-decoration: none;

      &:hover {
        border: 1px solid #f6744b;
        text-decoration: none;
      }

      &:last-child {
        margin: 0;
      }

      .header {
        background: #0e1316;
        padding: 37px 0 30px;

        h3.name {
          font-family: Roboto Bold;
          font-size: 10.5pt;
          color: #fff;
          margin: 0;
          text-transform: uppercase;
        }

        div.cost {
          font-family: "Roboto Light";
          font-size: 27pt;
          color: #fff;

          .currency {
            font-size: 18pt;
          }
        }
      }

      .description {
        background: #1f282c;
        padding: 48px 0 51px;

        .line {
          padding: 0 0 20px 0;
          font-family: "Roboto Thin";
          font-size: 12pt;
          color: #fff;

          .bold {
            font-family: "Roboto Bold";
          }

          .orange {
            color: #f6744b;
          }
        }

        .purchase {
          text-align: center;
          padding: 57px 0 0;

          .purchase-btn {
            color: #fff;
            background: #f6744b;
            border-radius: 5px;
            font-size: 11pt;
            font-family: "Roboto Bold";
            text-transform: uppercase;
            padding: 8px 27px;
          }
        }
      }
    }

  }
}

section.callback {
  .callback-form {
    .left {
      padding-left: 95px;
    }

    .right {
      padding-right: 95px;
    }

    .both {
      padding-left: 95px;
      padding-right: 95px;
    }

    .f-gr {

      label {
        display: block;
        font-family: "Roboto Bold";
        font-size: 10.5pt;
        color: #696969;
        text-transform: uppercase;
        padding: 40px 0 20px;

        .star {
          color: #f6744b;
        }
      }

      input, textarea {
        border: none;
        outline: none;
        display: block;
        width: 100%;
        border-bottom: 1px solid #cacaca;
        font-family: "Roboto Light";
        font-size: 12pt;
        color: #696969;
        -webkit-box-shadow: 0 0 0 1000px white inset;
        -webkit-text-fill-color: #696969 !important;
      }
    }

    .submit-btn {
      text-align: center;
      padding: 45px 0 0;

      input {
        background: #f6744b;
        border: none;
        outline: none;
        color: #fff;
        font-family: "Roboto Bold";
        font-size: 10.5pt;
        text-transform: uppercase;
        transition: 0.25s ease all;
        padding: 13px 37px;

        &:hover {
          background: #e84c3d;
        }
      }
    }
  }
}

section.map {
  background: #ebebeb;

  .header {
    background: #0c1215;
    text-align: center;
    padding: 25px 0 27px;
    cursor: pointer;

    h2 {
      font-family: "Roboto Bold";
      font-size: 18pt;
      color: #fff;
      text-transform: uppercase;
      display: inline;
      margin: 0;
      vertical-align: middle;
    }

    #map-trigger {
      vertical-align: middle;
      margin: 0 7px;
    }
  }

  .map-container {
    text-align: center;
    display: none;

    iframe {
      width: 80%;
      min-height: 400px;
      margin: 30px 0;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  }
}

footer {
  padding: 40px 0 50px;
  text-align: center;
  background: #171f23;

  h2.logo {
    font-family: BigNoodleTitling;
    font-size: 18pt;
    color: #fff;
    margin: 7px 0 10px;
    text-align: center;
  }

  span.text {
    font-family: "Roboto Condenced";
    font-size: 10.5pt;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
  }

  .social-buttons {
    margin: 7px 0 0;
    text-align: center;
    img {
      margin: 0 4px;
    }
  }
}

@media screen and (max-width: $md){
  header.container-fluid{
    padding: 45px 0 44px;
  }
}
@media screen and (max-width: $sm){
  header.container-fluid{
    padding: 35px 0 34px;
  }
}
@media screen and (max-width: $xs){
  header.container-fluid{
    padding: 25px 0 24px;
  }
}