@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: BigNoodleTitling;
  src: url(fonts/big_noodle_titling.ttf); }
@font-face {
  font-family: "Roboto Bold";
  src: url(fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: "Roboto Light";
  src: url(fonts/Roboto-Light.ttf); }
@font-face {
  font-family: "Roboto Condenced";
  src: url(fonts/RobotoCondensed-Regular.ttf); }
body {
  background: #fff; }

section.text-section {
  padding: 64px 0 94px; }
  section.text-section .section-header {
    margin-bottom: 27px; }
    section.text-section .section-header h2 {
      font-family: BigNoodleTitling;
      font-size: 36pt;
      color: #3d3d3d;
      text-align: center;
      margin: 0 0 3px; }
    section.text-section .section-header .underline {
      width: 152px;
      height: 2px;
      background: #f4511e;
      margin: 0 auto; }
  section.text-section .section-text {
    font-family: Roboto;
    font-size: 10.5pt;
    font-weight: bold;
    text-align: center;
    color: #696969;
    margin: 0 230px 58px; }

section.text-section-dark {
  background: #171f23; }
  section.text-section-dark .headline {
    padding: 0 0 44px; }
    section.text-section-dark .headline h2.header {
      font-family: "Roboto Condenced";
      font-size: 27pt;
      color: #f6f6f6;
      text-align: center;
      margin: 0 0 13px 0;
      text-transform: uppercase; }
    section.text-section-dark .headline div.underline {
      background: #404040;
      height: 1px;
      width: 86px;
      margin: 0 auto; }

header.container-fluid {
  background: #f8f6f6;
  border-bottom: 4px solid #ebebeb;
  padding: 50px 0 49px; }
  header.container-fluid h1.main-header {
    font-family: BigNoodleTitling;
    font-size: 30pt;
    display: inline;
    color: #696969;
    vertical-align: middle;
    margin: 0 0 0 25px; }
  header.container-fluid img.logo {
    vertical-align: middle; }
  header.container-fluid .dropdown {
    margin-top: 14px; }

nav#right-navigation {
  position: absolute;
  top: 176px;
  right: -150px;
  z-index: 5; }
  nav#right-navigation h2.header {
    margin: 0;
    background: #3d3d3d;
    color: #fff;
    font-family: "Roboto Condencedd";
    font-size: 14pt;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px; }
  nav#right-navigation ul {
    padding: 0;
    margin: 0;
    background: #696969; }
    nav#right-navigation ul li {
      list-style: none; }
      nav#right-navigation ul li a {
        display: block;
        text-align: center;
        padding: 10px 20px;
        color: #fff;
        font-family: "Roboto Light";
        font-size: 12pt;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.25s ease all; }
        nav#right-navigation ul li a:hover {
          background: #e84c3d; }
    nav#right-navigation ul li.divider {
      height: 1px;
      width: calc(100% - 40px);
      margin: 0 auto;
      background: #797979; }

section.about-us .advantage {
  background: #ebebeb;
  padding: 30px 30px 25px; }
  section.about-us .advantage .header, section.about-us .advantage .description {
    font-size: 14pt;
    color: #707070;
    text-align: center; }
  section.about-us .advantage .header {
    margin: 24px 0 16px 0;
    font-family: "Roboto Bold";
    text-transform: uppercase;
    font-size: 18pt; }
  section.about-us .advantage .description {
    font-family: Roboto;
    margin: 0;
    font-weight: bold; }
  section.about-us .advantage .icon {
    height: 57px;
    text-align: center; }

section.video {
  background: #171f23; }
  section.video .text-container {
    padding: 60px 95px 0px; }
    section.video .text-container h2.header {
      color: #fff;
      font-family: "Roboto Bold";
      text-align: center;
      font-size: 24pt;
      font-weight: bold; }
    section.video .text-container p.description {
      color: #696969;
      text-align: center;
      font-family: Roboto;
      font-weight: bold;
      font-size: 13pt;
      margin: 27px 0 46px; }
    section.video .text-container .play-btn {
      text-align: center; }
      section.video .text-container .play-btn button {
        background: #e84c3d;
        padding: 12px 33px 10px;
        border: none;
        border-bottom: 2px solid #b11000;
        color: #fff;
        font-family: "Roboto Bold";
        font-size: 13pt;
        text-decoration: none;
        transition: 0.25s ease all;
        outline: none; }
        section.video .text-container .play-btn button:hover {
          background: #b11000; }
  section.video .video-container .row {
    position: relative; }
    section.video .video-container .row .play-btn {
      position: absolute;
      top: calc(50% - 53px);
      left: calc(50% - 46px);
      z-index: 3; }
      section.video .video-container .row .play-btn:hover {
        cursor: pointer; }
    section.video .video-container .row .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.25s ease all; }
      section.video .video-container .row .overlay:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.2); }
    section.video .video-container .row video {
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
      cursor: pointer; }

section.our-works {
  padding: 94px 0 26px; }
  section.our-works .button-list {
    text-align: center;
    margin: 0;
    padding: 0; }
    section.our-works .button-list li {
      display: inline-block;
      list-style: none;
      padding: 7px 10px; }
      section.our-works .button-list li button {
        font-family: "Roboto Light";
        background: none;
        outline: none;
        border: none;
        font-size: 14pt;
        color: #3d3d3d;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.25s ease all;
        padding: 7px 0; }
      section.our-works .button-list li button.active {
        border-bottom: 1px solid #e64e40;
        font-weight: bold; }

section.portfolio .selection {
  display: none; }
  section.portfolio .selection > .row {
    border-bottom: 1px solid #e96559; }
  section.portfolio .selection .portfolio-item {
    position: relative;
    border-top: 1px solid #e96559;
    border-left: 1px solid #e96559;
    border-bottom: 1px solid #e96559;
    cursor: pointer;
    display: block; }
    section.portfolio .selection .portfolio-item:hover .overlay {
      display: block;
      text-decoration: none; }
    section.portfolio .selection .portfolio-item img {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1; }
    section.portfolio .selection .portfolio-item .overlay {
      padding: 50px;
      background: #e84c3d;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 1px);
      z-index: 2;
      display: none;
      transition: 0.35s ease all; }
      section.portfolio .selection .portfolio-item .overlay h3.header {
        font-family: "Roboto Bold";
        font-size: 18pt;
        text-transform: uppercase; }
      section.portfolio .selection .portfolio-item .overlay p.description {
        font-family: Roboto;
        font-size: 12pt; }
      section.portfolio .selection .portfolio-item .overlay h3.header,
      section.portfolio .selection .portfolio-item .overlay p.description {
        color: #fff;
        text-align: center; }

section.clients-slider {
  background: #1c1c1c;
  padding: 65px 0; }
  section.clients-slider .slider {
    width: 910px;
    margin: 0 auto;
    position: relative; }
    section.clients-slider .slider .arrow {
      position: absolute;
      top: calc(50% - 14px);
      cursor: pointer; }
      section.clients-slider .slider .arrow:hover {
        opacity: 0.7; }
    section.clients-slider .slider .arrow-left {
      left: 0; }
    section.clients-slider .slider .arrow-right {
      right: 0; }
    section.clients-slider .slider .content {
      width: 670px;
      margin: 0 auto;
      position: relative; }
      section.clients-slider .slider .content .slide {
        float: left;
        width: calc(100% / 3);
        text-align: center;
        padding-top: 20px;
        position: absolute;
        top: -40px;
        left: 0; }
        section.clients-slider .slider .content .slide a:hover {
          text-decoration: none;
          opacity: 0.7; }
        section.clients-slider .slider .content .slide span.name {
          margin-left: 9px;
          font-family: Arial;
          font-size: 12pt;
          color: #fff;
          padding-bottom: 10px;
          position: relative;
          top: -10px; }
      section.clients-slider .slider .content .slide-1 {
        left: 0; }
      section.clients-slider .slider .content .slide-2 {
        left: calc(100% / 3); }
      section.clients-slider .slider .content .slide-3 {
        left: calc(100% / 3 * 2); }

section.team .team-member .card, section.team .team-member .details {
  background: #ebebeb; }
section.team .team-member .card .member-img {
  text-align: center;
  padding: 70px 0 30px; }
  section.team .team-member .card .member-img img {
    width: 136px;
    height: auto;
    border-radius: 50%; }
section.team .team-member .card h3.member-name {
  font-family: "Roboto Bold";
  font-size: 20pt;
  text-align: center;
  text-transform: uppercase;
  color: #3d3d3d;
  margin: 0; }
section.team .team-member .card p.member-role {
  font-family: "Roboto Light";
  font-size: 14pt;
  text-align: center;
  text-transform: uppercase;
  color: #3d3d3d;
  margin: 0 0 23px; }
section.team .team-member .card .social-buttons {
  text-align: center;
  vertical-align: middle;
  padding: 0 0 40px; }
  section.team .team-member .card .social-buttons a {
    padding: 0 5px; }
section.team .team-member .card .controls {
  text-align: center; }
  section.team .team-member .card .controls .control {
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 7px;
    display: inline-block;
    transition: 0.35s ease all; }
  section.team .team-member .card .controls .control:first-child {
    margin: 0; }
  section.team .team-member .card .controls .control:hover {
    cursor: pointer;
    background: #3d3d3d; }
  section.team .team-member .card .controls .active {
    background: #8e8181; }
section.team .team-member .details {
  padding: 90px 55px 57px 45px; }
  section.team .team-member .details h3.header {
    font-family: "Roboto Bold";
    font-size: 22pt;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 0 0 25px; }
  section.team .team-member .details p.about {
    font-family: Roboto;
    font-size: 13pt;
    color: #858383;
    margin: 0 0 45px; }
  section.team .team-member .details .skill-level .skill {
    padding: 0 0 20px; }
    section.team .team-member .details .skill-level .skill .skill-name {
      font-family: "Roboto Bold";
      text-transform: uppercase;
      font-size: 13pt;
      color: #3d3d3d;
      margin: 0; }
    section.team .team-member .details .skill-level .skill .line {
      width: 100%;
      height: 1px;
      background: #fff;
      margin: 10px 0; }
      section.team .team-member .details .skill-level .skill .line .level {
        background: #e84c3d;
        height: 1px;
        width: 0; }
    section.team .team-member .details .skill-level .skill .percentage {
      font-family: "Roboto Light";
      font-size: 13pt;
      color: #3d3d3d; }

section.some-features {
  padding: 53px 0 68px; }
  section.some-features .feature {
    text-align: center; }
    section.some-features .feature h3.name {
      font-family: "Roboto Light";
      font-size: 13.5pt;
      color: #f6f6f6;
      margin: 23px 0 16px; }
    section.some-features .feature span.count {
      font-family: "Roboto Light";
      font-size: 34.5pt;
      color: #f6f6f6; }

section.blog-posts .posts .post {
  display: block; }
  section.blog-posts .posts .post:hover {
    text-decoration: none; }
    section.blog-posts .posts .post:hover .post-img .overlay {
      opacity: 0.5; }
    section.blog-posts .posts .post:hover .post-img .action-buttons {
      opacity: 1; }
  section.blog-posts .posts .post .post-img {
    text-align: center;
    overflow: hidden;
    height: 245px;
    position: relative; }
    section.blog-posts .posts .post .post-img .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      transition: 0.25s ease all;
      background: #000;
      opacity: 0; }
    section.blog-posts .posts .post .post-img .img {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1; }
    section.blog-posts .posts .post .post-img .action-buttons {
      position: absolute;
      width: 100%;
      text-align: center;
      top: calc(50% - 22px);
      left: 0;
      opacity: 0;
      transition: 0.25s ease all;
      z-index: 3; }
      section.blog-posts .posts .post .post-img .action-buttons img {
        border-radius: 50%; }
      section.blog-posts .posts .post .post-img .action-buttons .share {
        background: #e87e5d;
        padding: 10px;
        margin-right: 20px; }
      section.blog-posts .posts .post .post-img .action-buttons .view {
        background: #f6e5e0;
        padding: 14px 9px; }
  section.blog-posts .posts .post .post-description {
    background: #ebebeb;
    padding: 49px 25px 24px; }
    section.blog-posts .posts .post .post-description h3.header {
      margin: 0 0 30px;
      font-family: "Roboto Light";
      font-size: 13.5pt;
      color: #505050;
      font-weight: bold; }
    section.blog-posts .posts .post .post-description p.text {
      margin: 0 0 25px;
      color: #797979;
      font-family: "Roboto Light";
      font-size: 10.5pt; }
    section.blog-posts .posts .post .post-description .details span {
      font-size: 9.5pt;
      font-family: "Roboto Condenced";
      color: #8a8989;
      margin: 0 3px 0 2px; }

section.plan {
  padding: 59px 0 94px; }
  section.plan .plan-items {
    overflow: hidden;
    text-align: center;
    width: 952px;
    margin: 0 auto; }
    section.plan .plan-items .item {
      float: left;
      width: 235px;
      border: 1px solid #171f23;
      margin: 0 1px 0 0;
      display: block;
      text-decoration: none; }
      section.plan .plan-items .item:hover {
        border: 1px solid #f6744b;
        text-decoration: none; }
      section.plan .plan-items .item:last-child {
        margin: 0; }
      section.plan .plan-items .item .header {
        background: #0e1316;
        padding: 37px 0 30px; }
        section.plan .plan-items .item .header h3.name {
          font-family: Roboto Bold;
          font-size: 10.5pt;
          color: #fff;
          margin: 0;
          text-transform: uppercase; }
        section.plan .plan-items .item .header div.cost {
          font-family: "Roboto Light";
          font-size: 27pt;
          color: #fff; }
          section.plan .plan-items .item .header div.cost .currency {
            font-size: 18pt; }
      section.plan .plan-items .item .description {
        background: #1f282c;
        padding: 48px 0 51px; }
        section.plan .plan-items .item .description .line {
          padding: 0 0 20px 0;
          font-family: "Roboto Thin";
          font-size: 12pt;
          color: #fff; }
          section.plan .plan-items .item .description .line .bold {
            font-family: "Roboto Bold"; }
          section.plan .plan-items .item .description .line .orange {
            color: #f6744b; }
        section.plan .plan-items .item .description .purchase {
          text-align: center;
          padding: 57px 0 0; }
          section.plan .plan-items .item .description .purchase .purchase-btn {
            color: #fff;
            background: #f6744b;
            border-radius: 5px;
            font-size: 11pt;
            font-family: "Roboto Bold";
            text-transform: uppercase;
            padding: 8px 27px; }

section.callback .callback-form .left {
  padding-left: 95px; }
section.callback .callback-form .right {
  padding-right: 95px; }
section.callback .callback-form .both {
  padding-left: 95px;
  padding-right: 95px; }
section.callback .callback-form .f-gr label {
  display: block;
  font-family: "Roboto Bold";
  font-size: 10.5pt;
  color: #696969;
  text-transform: uppercase;
  padding: 40px 0 20px; }
  section.callback .callback-form .f-gr label .star {
    color: #f6744b; }
section.callback .callback-form .f-gr input, section.callback .callback-form .f-gr textarea {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  border-bottom: 1px solid #cacaca;
  font-family: "Roboto Light";
  font-size: 12pt;
  color: #696969;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #696969 !important; }
section.callback .callback-form .submit-btn {
  text-align: center;
  padding: 45px 0 0; }
  section.callback .callback-form .submit-btn input {
    background: #f6744b;
    border: none;
    outline: none;
    color: #fff;
    font-family: "Roboto Bold";
    font-size: 10.5pt;
    text-transform: uppercase;
    transition: 0.25s ease all;
    padding: 13px 37px; }
    section.callback .callback-form .submit-btn input:hover {
      background: #e84c3d; }

section.map {
  background: #ebebeb; }
  section.map .header {
    background: #0c1215;
    text-align: center;
    padding: 25px 0 27px; }
    section.map .header h2 {
      font-family: "Roboto Bold";
      font-size: 18pt;
      color: #fff;
      text-transform: uppercase;
      display: inline;
      margin: 0;
      vertical-align: middle; }
    section.map .header #map-trigger {
      vertical-align: middle;
      margin: 0 7px;
      cursor: pointer; }
  section.map .map-container {
    text-align: center;
    display: none; }
    section.map .map-container iframe {
      width: 80%;
      min-height: 400px;
      margin: 30px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

footer {
  padding: 40px 0 50px;
  text-align: center;
  background: #171f23; }
  footer h2.logo {
    font-family: BigNoodleTitling;
    font-size: 18pt;
    color: #fff;
    margin: 7px 0 10px;
    text-align: center; }
  footer span.text {
    font-family: "Roboto Condenced";
    font-size: 10.5pt;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px; }
  footer .social-buttons {
    margin: 7px 0 0;
    text-align: center; }
    footer .social-buttons img {
      margin: 0 4px; }

/*# sourceMappingURL=style.css.map */
